<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="UNCC Event Finder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="31">
        <activity
            android:name=".CalendarListView"
            android:exported="false" />
        <activity
            android:name=".CalendarViewActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBWL4qwmL_44-8UFds3yZqQH5IWk_OnCUw" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ReportCreateActivity"
            android:exported="false"/>
        <activity
            android:name=".ReportedEventActivity"
            android:exported="false"/>
        <activity
            android:name=".ReportActivity"
            android:exported="false"/>
        <activity
            android:name=".ReportedUserActivity"
            android:exported="false"/>
        <activity
            android:name=".ReportDetailsActivity"
            android:exported="false"/>
        <activity
            android:name=".DetailsActivity"
            android:exported="false"/>
        <activity
            android:name=".PrivacySettingsActivity"
            android:exported="false"/>
        <activity
            android:name=".SearchUsersActivity"
            android:exported="false"/>
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".TutorialActivity"
            android:exported="false" />
        <activity
            android:name=".CreateEventActivity"
            android:exported="true" />
        <activity
            android:name=".CreateEventCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".CreateEventAudienceActivity"
            android:exported="false" />
        <activity
            android:name=".CreateEventSessionsActivity"
            android:exported="false" />
        <activity
            android:name=".CreateEventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".FilterActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".GoogleActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>